<h3>Add a new street address</h3>

<form action="/street_address/add/<%=params[:person_id] %>" method = "post">

  <label for="street">Street address:</label>
  <input type="text" name="street"/>
  <br>

  <label for="city">City:</label>
  <input type="text" name="city"/>
  <br>

  <label for="state">Two-letter state code:</label>
  <input type="text" name="state"/>
  <br>

  <label for="postal">Five-digit postal code:</label>
  <input type="text" name="postal"/>
  <br>

  <label for="type">Type:</label>
  <select name="type">
    <option value="home">Home</option>
    <option value="work">Work</option>
  </select>
  <br>
  <br>

  <button type="submit">Submit</button>

</form>

<form action="/person/<%=params[:person_id] %>" method="get">
  <button type="submit">Cancel</button>
</form>