<h3>Add a new email address</h3>

<form action="/email_address/add/<%=params[:person_id] %>" method = "post">

  <label for="email">Email address:</label>
  <input type="text" name="email"/>

  <label for="type">Type:</label>
  <select name="type">
    <option value="personal">Personal</option>
    <option value="work">Work</option>
  </select>

  <button type="submit">Submit</button>

</form>

<form action="/person/<%=params[:person_id] %>" method="get">
  <button type="submit">Cancel</button>
</form>