<!DOCTYPE html>
<html lang="en">

<head>
    <title>Contact List App</title>
    <meta charset="utf-8"/>
</head>

<body>
  <main>
    <%== yield %>
  </main>
</body>

<footer>
  <%== yield_content :page_footer %>
</footer>

</html>