<!DOCTYPE html>
<html lang="en">

<head>
    <title>Contact List App</title>
    <meta charset="utf-8"/>
</head>

<body>
  <% if session[:error] %>
    <p><%= session.delete(:error) %></p>
  <% end %>


  <% if session[:success] %>
    <p><%= session.delete(:success) %></p>
  <% end %>

  <main>
    <%== yield %>
  </main>
</body>

<footer>
  <%== yield_content :page_footer %>
</footer>

</html>